body{
    background-color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: chocolate;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
}

p{
    text-align: justify;
}

#contenedor{
    background-color: darkgray;
    padding: 20px;
}

#contenedor img{
    width: 100%;
}